.new {
    width: 100%;
    display: flex;
    .newContainer {
      flex: 6;
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
  
        h1 {
          color: lightgray;
          font-size: 20px;
        }
  
        .left {
          flex: 1;
          justify-content: flex-start;
          margin-top: 2%;
          position: relative;
          align-items: center;
          gap:30px;
          display: flex;
          flex-direction: column;
          .formInput{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          .imgCon {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            overflow: hidden;
            position: relative; 
          }
        }
  
        .right {
          flex: 2;

          .article{
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 10px 45px;
            gap:10px;
            align-items: center;
            justify-content: center;
            .input{
                flex:1;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            .inputs{
                flex:8;
                flex-wrap: wrap;
                flex-grow: gr;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .value{
                    background-color: transparent;
                    border: 1px solid grey;
                    padding: 8px 26px;
                    color: #fff;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: 0.2s;
                    white-space: nowrap;
                    font-size: 15px;
                    margin-top: 15px;
                    padding: 6px 24px;
                    margin-right: 5px;
                }        
                .value:hover{
                  border-color: white;
                }
            }
            .value{
                width:fit-content;
                text-align: center;
                background-color: transparent;
                border: 1px solid grey;
                padding: 0px 26px;
                color: #fff;
                border-radius: 20px;
                cursor: pointer;
                transition: 0.2s;
                white-space: nowrap;
                font-size: 15px;
                margin-top: 15px;
                padding: 6px 24px;
                margin-right: 5px;
              }        
              .value:hover{
                border-color: white;
              }
          }
          .middle{
            display: flex;
            width: 100%;
            flex-direction: row;
            padding: 0px 45px;
            .input{
              flex:1;
              display: flex;
              flex-direction: column;
              .value{
                width:100%;
                text-align: center;
                background-color: transparent;
                border: 1px solid grey;
                padding: 8px 26px;
                color: #fff;
                border-radius: 20px;
                cursor: pointer;
                transition: 0.2s;
                white-space: nowrap;
                font-size: 15px;
                margin-top: 15px;
                padding: 6px 24px;
                margin-right: 5px;
              }        
              .value:hover{
                border-color: white;
              }
            }
            .inputs{
              flex:8;
              flex-wrap: wrap;
              flex-grow: gr;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              .value{
                  background-color: transparent;
                  border: 1px solid grey;
                  padding: 8px 26px;
                  color: #fff;
                  border-radius: 20px;
                  cursor: pointer;
                  transition: 0.2s;
                  white-space: nowrap;
                  font-size: 15px;
                  margin-top: 15px;
                  padding: 6px 24px;
                  margin-right: 5px;
              }        
              .value:hover{
                border-color: white;
              }
            }
          }
          .form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
            .sFormInput{
              width: 40%;
              display: flex;
              gap:8%;
              flex-direction: column;
              .priceInput {
                width: 100%;
                display: flex;
                flex-direction: row !important;
                gap:10%;
                .smallFormInput {
                  width: 30%;
                }
              }
            }
            .slider{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              align-self: flex-start;
              width: 90%;
              margin-bottom: 15px;
              .text{
                  flex:1;
                  .icon{
                    cursor: pointer;
                  }
              }
              .images{
                  flex:9;
                  text-align: center;
                  justify-content: center;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  gap: 20px;
                  img {
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    object-fit: cover;
                    margin:15px 15px 15px 15px;
                    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
                  }
                  .loading {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    margin:15px 15px 15px 15px;
                  }
                  img:hover {
                    scale:1.1;
                  }
              }
              .x{
                margin-right: 15px;
                cursor: pointer;
                .xIcon{
                  color: red;
                  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
                }
                .xIcon:hover {
                  scale:1.2;
                }
                .xIcon:active {
                  scale:0.8;
                }
              }
            }
            .saveSection{
              width:100%;
              margin-bottom: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 10px;
              .save {
                width: 150px;
                background-color: transparent;
                border: 1px solid grey;
                padding: 8px 26px;
                color: #fff;
                border-radius: 20px;
                cursor: pointer;
                justify-self: center;
                align-self: center;
                transition: 0.2s;
                white-space: nowrap;
                font-size: 15px;
                margin-top: 15px;
                padding: 6px 24px;
                margin-right: 5px;
                color: white;
                font-weight: bold;
                border-radius:8px;
                cursor: pointer;
                margin-top: 10px;
                transition: cubic-bezier(.34,-0.02,.43,.97) 0.3s;
              }
              .save:active{
                scale:0.9;
              }
              .save:hover{
                border-color: white;
              }
            }
            .text{
              label {
                display: flex;
                align-items: center;
                gap: 10px;
                .icon {
                  cursor: pointer;
                  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
                }
                .icon:hover {
                  scale:1.2;
                }
              }
            }
            .formInput {
              width: 40%;
              display: flex;
              flex-direction: column;
              gap:2%;
              .btn{
                  background-color: transparent;
                  border: 1px solid grey;
                  padding: 8px 26px;
                  color: #fff;
                  border-radius: 20px;
                  cursor: pointer;
                  transition: 0.2s;
                  white-space: nowrap;
                  font-size: 15px;
                  margin-top: 15px;
                  padding: 6px 24px;
                  margin-right: 5px;
              }        
              .btn:hover{
                border-color: white;
              }
              .scroll{
                position: relative;
                scale: 0.7;
                max-width: 500px;
                left: -59px;
                gap: 5px;
                overflow-x: scroll;
                display: flex;
                flex-direction: row;
                .hour, .day{
                  width:80px;
                  padding: 0 20px 0 20px;
                  margin: 10px 0 10px 0;
                  height: 30px;
                  color: black;
                  border-radius: 15px;
                  background-color: lightyellow;
                  cursor: pointer;
                }
                
                .selected{
                  background-color: lightgreen;
                }
              }
              .extraItems {
                margin: 10px 0px;
                display: flex;
                flex-wrap: wrap;
                .extraItem {
                  padding: 5px;
                  font-size: 14px;
                  border: 1px solid tomato;
                  background-color: white;
                  color: tomato;
                  margin-right: 10px;
                  border-radius: 10px;
                  cursor: pointer;
                }
              }
              .smallFormInput {
                width: 100%;
                .extraBtn{
                  width: 60%;
                  border-radius: 50%;
                }
              }
             
              label {
                display: flex;
                align-items: center;
                gap: 10px;
                .icon {
                  cursor: pointer;
                  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
                }
                .icon:hover {
                  scale:1.2;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen  
    and (max-width: 1112px){
      .new {
        width: 100%;
        display: flex;
      
        .newContainer {
          flex: 6;
          flex-wrap: wrap;
      
          .top,
          .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            flex-wrap: wrap;
            flex-direction: column;
      
            h1 {
              color: lightgray;
              font-size: 20px;
            }
      
            .left {
              // width: 100%;
              text-align: center;
              margin-top: 5%;
      
              img {
                width: 200px;
                height: 200px;
                padding-bottom: 10px;
                border-radius: 10px;
                object-fit: cover;
              }
            }
      
            .right {
              flex: 2;
      
              .form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                align-items: center;
                .sFormInput{
                  width: 60%;
                  display: flex;
                  gap:30px;
                  flex-direction: column;
                  .priceInput {
                    width: 100%;
                    display: flex;
                    flex-direction: column !important;
                    gap:8px;
                    .smallFormInput {
                      width: 100%;
                    }
                  }
                }
                .formInput {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap:2%;
                  .extraItems {
                    margin: 10px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    .extraItem {
                      padding: 5px;
                      font-size: 14px;
                      border: 1px solid tomato;
                      background-color: white;
                      color: tomato;
                      margin-right: 10px;
                      border-radius: 10px;
                      cursor: pointer;
                    }
                  }
                  .smallFormInput {
                    width: 100%;
                    .extraBtn{
                      width: 60%;
                      border-radius: 50%;
                    }
                  }
                  
                  label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .icon {
                      cursor: pointer;
                    }
                  }
                }
                button {
                  width: 150px;
                  padding: 10px;
                  border: none;
                  background-color: red;
                  color: white;
                  font-weight: bold;
                  border-radius:8px;
                  cursor: pointer;
                  margin-top: 10px;
                }
                button:hover{
                  background-color: darkred;
                }
              }
            }
          }
        }
      }
    }